@{
    ViewBag.Title = "Course Assign";
}

<h2>Wellcome to Course Assign Processing System</h2>

<table class="table">
    <ul>
        <li>
            @Html.ActionLink("Course Assign to Teacher", "Create")
        </li>

        <li>
            @Html.ActionLink("View Course Statics", "ViewCourseStatics")
        </li>
        
        <li>
            @Html.ActionLink("View Course Statics", "UnassignCourses")
        </li>
    </ul>
</table>