@{
    ViewBag.Title = "Student";
}

<h2>Wellcome to Student Registration Processing System</h2>

<table class="table">
    <ul>
        <li>
            @Html.ActionLink("Register Student", "Create")
        </li>
    </ul>
</table>