@{
    ViewBag.Title = "Department";
}

<h2>
    Wellcome to Department Processing System
</h2>

<table class="table">
    <ul>
        <li>
            @Html.ActionLink("Save Department", "Save")
        </li>

        <li>
            @Html.ActionLink("View All Department", "Show")
        </li>
    </ul>
</table>