@{
    ViewBag.Title = "Enroll Course";
}

<h2>Wellcome to Enroll Course Processing System</h2>

<table class="table">
    <ul>
        <li>
            @Html.ActionLink("Enroll in a Course", "Create")
        </li>
    </ul>
</table>