@{
    ViewBag.Title = "Teacher";
}

<h2>Wellcome to Teacher Information Processing System</h2>

<table class="table">
    <ul>
        <li>
            @Html.ActionLink("Save Teacher", "Save")
        </li>
    </ul>
</table>