@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Ripon Acharya<br />
    45/1,Shantibag,Malibag,Dhaka-1217<br />
    <abbr title="Phone">P:</abbr>
    01752-110272
</address>

<address>
    <strong>Support:</strong><a href="mailto:riponacharyamohan@gmail.com">riponacharyamohan@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ripon.acharya@yahoo.com">ripon.acharya@yahoo.com</a>
</address>